body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
  }

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header h1 {
    margin: 1%;
    text-align: center;
}

body {
    margin: 0 15% 0 15%;
}

footer {
    text-align: center;
    font-size: 14px;
    margin: 5px;
}

.two-columns {
    display: flex;
}

.columns {
    flex: 1;
}

iframe {
    margin: 5% 0 0 0;
}

#aboutbox {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#aboutbox img {
    border-radius: 50%;
    margin: 0 5em 1em 5em;
    height: 100%;
    
}

main {
    background-color: rgb(247, 247, 230);
    border-radius: 2.5%;
    padding: 20px;
}